@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Grid.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler

@model Sitecore.Mvc.Presentation.RenderingModel

@{
    AssetLinks assetLinks = AssetLinksGenerator.GenerateLinks(new ThemesProvider());
    var url = HttpContext.Current.Request.Url;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@Model.Item.Language.Name">
<!--<![endif]-->
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T7CJ6PX');</script>
    <!-- End Google Tag Manager -->
    <link rel='stylesheet' id='thegem-google-fonts-css' href='https://fonts.googleapis.com/css?family=Montserrat%3A700%2Cregular%7CSource+Sans+Pro%3Aregular%2C300&amp;subset=latin%2Clatin-ext%2Cvietnamese%2Cgreek-ext%2Ccyrillic-ext%2Ccyrillic%2Cgreek&amp;ver=4.9.1' type='text/css' media='all' />
    @foreach (string style in assetLinks.Styles)
    {
        @Html.Raw(style)
    }

    @Html.Sitecore().VisitorIdentification()
    @Html.Sxa().Placeholder("head")
    <meta charset="utf-8">
    <link rel="canonical" href="@url" />
    <meta Name="og:url" Content="@url" />
    <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=1kWETC1DbNiywJ2yBZqHXPcA4QkdwkQatFnH93lHkuZ3D60LfTIhyk8HOPtg"></script>
</head>
<body @Html.Sxa().Body().Decorate()>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7CJ6PX"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @Html.Sitecore().Placeholder("body-top")
    @Html.Sxa().GridBody()
    @Html.Sitecore().Placeholder("body-bottom")
    @foreach (string script in assetLinks.Scripts)
    {
        @Html.Raw(script)
    }
    <!-- /#wrapper -->
</body>
</html>